

#play_control {
	width: auto;
	border:1px red solid;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

#play_pause_input, #play_next_input {
	width: 30px;
}

#play_range_input {
	flex:auto;
}

table {
	width : 100%;
	margin: auto;
	border: 2px solid aliceblue;
	padding: 0.1em;
}

tr :hover {
	background-color: aquamarine;
}

td {
	cursor: pointer;
}

.local_play_now {
	width: 1em;
}

#tab_select {
	width: 100%;
}

#tab_select {
	padding: 0px;
	margin: 0px;
	font-size:0;
}

button {
	background-color: white;
	border: none;
	width:25%;
	padding: 0px;
	margin: 0px;
	height: 2em;
}

body {
	margin: auto;
	width:100%;
	background-color: lightgray;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

#player_bar {
	position: fixed;
	width: 100%;
	box-sizing: border-box;
  margin: 0px;
	background-color: lightgreen;

}

#tab_content div table {
	background-color: lightblue;
	width:100%;
	margin:auto;
	box-sizing: border-box;

}

audio {
	width: 100%;
		box-sizing:border-box;
  margin: auto;

}

.currently_playing {
	color: white;
	background-color: black;
}

input#search_input {
	width: 100%;
	box-sizing:border-box;
  margin: auto;

}