

table {
	width : 100%;
	margin: auto;
	border: 2px solid aliceblue;
	padding: 0.1em;
}

tr :hover {
	background-color: aquamarine;
}

td {
	cursor: pointer;
}

.local_play_now {
	width: 1em;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	margin: auto;
	width:100%;
	box-sizing: border-box;
	background-color: orange;

}

#player_bar {
	position: fixed;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
  	margin: 0px;
	background-color: lightgreen;
}

#player_bar audio {
	height: 40px;
	display: block;
}

#player_dsp {
	padding-top: 72px;
	background-color: pink;
	width:100%;
	margin:auto;
	box-sizing: border-box;
	display:flex;
	justify-content: space-between;
}

#player_nav {
	background-color: red;
	width:100%;
	margin:auto;
	box-sizing: border-box;
	display:flex;
	justify-content: space-between;
}

#player_nav button {
	width:24%;
	height:32px;
	margin:auto;
	color: black;
	background-color: white;
	border: none;
}

#player_nav button:disabled {
	color: white;
	background-color: black;
}

#player_tab {
	background-color: lightblue;
	width:100%;
	margin:auto;
	box-sizing: border-box;
}

audio {
	width: 100%;
		box-sizing:border-box;
  margin: auto;

}

.currently_playing {
	color: white;
	background-color: black;
}

input#search_input {
	width: 100%;
	box-sizing:border-box;
  margin: auto;

}